@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    /*初期状態では透明に*/
    -webkit-transform: translateX(64px);
            transform: translateX(64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    /*初期状態では透明に*/
    -webkit-transform: translateX(64px);
            transform: translateX(64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    /*初期状態では透明に*/
    -webkit-transform: translateX(-64px);
            transform: translateX(-64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    /*初期状態では透明に*/
    -webkit-transform: translateX(-64px);
            transform: translateX(-64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes topAnime {
  1% {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    border: 1px solid gray;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  }
}

@keyframes topAnime {
  1% {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    border: 1px solid gray;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  }
}

@-webkit-keyframes worksAnime {
  100% {
    opacity: 1;
  }
}

@keyframes worksAnime {
  100% {
    opacity: 1;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  z-index: 1;
  padding: 70px 0;
  margin-bottom: calc(100vh / 3);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 900px) {
  .wrapper {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100vw;
  }
}

.container {
  width: 920px;
  border-radius: 4px;
  margin: 0 auto;
  padding: 0 40px 100px 40px;
  border: 1px solid gray;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  background-color: white;
}

.container h2 {
  font-size: 40px;
  padding-left: 15px;
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
    overflow: hidden;
    padding: 0 0 100px 0;
    opacity: 0.85;
  }
  .container h2 {
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .container {
    padding-bottom: 50px;
  }
}

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #bebdbd;
  border-radius: 4px;
  position: fixed;
  height: 65px;
  top: 0px;
  left: 0px;
  z-index: 999;
  opacity: 0;
  -webkit-animation: slideDown 0.5s 0.3s ease-out forwards;
          animation: slideDown 0.5s 0.3s ease-out forwards;
}

header #headerContainer {
  width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #headerContainer h1 {
  font-size: 40px;
  line-height: 40px;
  margin-top: 12px;
  margin-left: 30px;
}

header #headerContainer #nav-input,
header #headerContainer #nav-open,
header #headerContainer #nav-close {
  display: none;
}

header #headerContainer nav {
  margin-top: 28px;
  margin-right: 20px;
}

header #headerContainer nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

@media screen and (max-width: 900px) {
  header {
    height: 100px;
    width: 100vw;
  }
  header #headerContainer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  header #headerContainer h1 {
    margin: 12px 0 10px 0;
  }
  header #headerContainer nav {
    margin: 0;
  }
  header #headerContainer nav ul {
    margin: 0;
    padding: 0;
  }
  header #headerContainer nav li {
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (max-width: 560px) {
  header {
    height: 40px;
  }
  header #headerContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header #headerContainer h1 {
    font-size: 23px;
    margin: 0 auto;
  }
  header #headerContainer #nav-drawer {
    position: relative;
  }
  header #headerContainer #nav-drawer .nav-unshown {
    -webkit-transform: translateX(560px);
            transform: translateX(560px);
  }
  header #headerContainer #nav-drawer #nav-input {
    display: block;
  }
  header #headerContainer #nav-drawer #nav-open {
    margin-top: -10px;
    margin-right: 20px;
    display: block;
    width: 30px;
    height: 22px;
    position: relative;
    z-index: 9999;
  }
  header #headerContainer #nav-drawer #nav-open span {
    position: absolute;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #555;
    display: block;
    content: "";
    cursor: pointer;
  }
  header #headerContainer #nav-drawer #nav-open #span1 {
    top: 0px;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
  }
  header #headerContainer #nav-drawer #nav-open #span2 {
    top: 8px;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
  }
  header #headerContainer #nav-drawer #nav-open #span3 {
    top: 16px;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
  }
  header #headerContainer #nav-drawer #nav-close {
    display: block;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 560px;
    height: 100vh;
    background: black;
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  header #headerContainer #nav-drawer #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: 40%;
    max-width: 250px;
    height: 100vh;
    background: #fff;
    opacity: .8;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: translateX(560px);
            transform: translateX(560px);
  }
  header #headerContainer #nav-drawer #nav-content ul {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header #headerContainer #nav-drawer #nav-content ul li {
    width: 75px;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid black;
  }
  header #headerContainer #nav-drawer #nav-input:checked ~ #nav-open span {
    top: 8px;
  }
  header #headerContainer #nav-drawer #nav-input:checked ~ #nav-open #span1 {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
  }
  header #headerContainer #nav-drawer #nav-input:checked ~ #nav-open #span2 {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
  }
  header #headerContainer #nav-drawer #nav-input:checked ~ #nav-open #span3 {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
  }
  header #headerContainer #nav-drawer #nav-input:checked ~ #nav-close {
    opacity: 0.5;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header #headerContainer #nav-drawer #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
            box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }
}

#bg-img {
  margin-top: -65px;
  width: 100%;
  height: calc(100vh + 65px);
  overflow: hidden;
  position: fixed;
  z-index: -10;
}

@media screen and (max-width: 900px) {
  #bg-img {
    margin-top: -100px;
    height: calc(100vh + 100px);
    overflow: hidden;
    width: auto;
    -webkit-transform: translateX(-280px);
            transform: translateX(-280px);
  }
}

@media screen and (max-width: 560px) {
  #bg-img {
    margin-top: -40px;
    height: calc(100vh + 40px);
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
  }
}

#top {
  width: 100%;
  margin-bottom: calc(100vh / 3);
}

#top .topContainer {
  width: 920px;
  border-radius: 4px;
  margin: 0 auto;
  padding: 0 40px 100px 40px;
  height: calc(100vh - 65px);
  margin-top: 65px;
  padding: 0px;
  width: 1000px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: topAnime 1s 0.4s ease-out forwards;
          animation: topAnime 1s 0.4s ease-out forwards;
}

#top .topContainer h2 {
  margin-left: 40px;
  font-size: 70px;
  width: 420px;
  font-family: "Playball", cursive;
  margin-top: 90px;
  opacity: 0;
  -webkit-animation: slideRight 1s 1s ease-out forwards;
          animation: slideRight 1s 1s ease-out forwards;
}

#top .topContainer p {
  width: 480px;
  margin-top: 400px;
  margin-right: 60px;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  opacity: 0;
  -webkit-animation: slideRight 1s 1.3s ease-out forwards;
          animation: slideRight 1s 1.3s ease-out forwards;
}

@media screen and (max-width: 900px) {
  #top .topContainer {
    height: calc(100vh - 100px);
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 95%;
  }
  #top .topContainer h2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    -webkit-animation: slideRight 1s 0.5s ease-out forwards;
            animation: slideRight 1s 0.5s ease-out forwards;
  }
  #top .topContainer p {
    margin: 0;
    -webkit-animation: slideRight 1s 0.8s ease-out forwards;
            animation: slideRight 1s 0.8s ease-out forwards;
  }
}

@media screen and (max-width: 560px) {
  #top .topContainer {
    margin-top: 40px;
  }
  #top .topContainer h2 {
    font-size: 40px;
    margin-top: -40px;
  }
  #top .topContainer p {
    width: 80%;
    font-size: 14px;
  }
}

#about h3 {
  font-size: 25px;
  margin-left: 60px;
}

#about .about-item {
  width: 700px;
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  opacity: 0;
}

#about .about-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#about .about-item img:hover {
  border-radius: 0;
  width: 150px;
  height: 120px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#about .about-item p {
  margin-bottom: 0;
  display: inline-block;
}

#about .about-left {
  margin-left: 110px;
}

#about .about-right {
  margin-left: 200px;
}

#about .about-left.show {
  -webkit-animation: slideLeft 1s ease-in-out forwards;
          animation: slideLeft 1s ease-in-out forwards;
}

#about .about-right.show {
  -webkit-animation: slideRight 1s ease-in-out forwards;
          animation: slideRight 1s ease-in-out forwards;
}

#about #character {
  margin-top: 100px;
}

#about ul {
  margin-left: 90px;
}

#about ul li {
  font-weight: bold;
  margin-bottom: 10px;
  opacity: 0;
}

#about ul li.show {
  -webkit-animation: slideUp 1s ease-in-out forwards;
          animation: slideUp 1s ease-in-out forwards;
}

#about ul span {
  margin-left: 10px;
  font-size: 18;
  color: red;
  opacity: 0;
}

#about ul span.show {
  -webkit-animation: slideUp 1s ease-in-out forwards;
          animation: slideUp 1s ease-in-out forwards;
}

@media screen and (max-width: 900px) {
  #about h3 {
    text-align: center;
    margin-left: 0;
  }
  #about #about-contents {
    width: 560px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  #about #about-contents .about-item {
    width: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 12px;
  }
  #about ul {
    width: 560px;
    margin: 0 auto;
    text-align: center;
    list-style: none;
  }
}

@media screen and (max-width: 560px) {
  #about #about-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  #about #about-contents .about-item {
    width: 100%;
    margin: 0 auto 20px auto;
    font-size: 16px;
  }
  #about ul {
    width: calc(80% - 20px);
    margin: 0 auto;
    padding: 0 10px;
  }
  #about ul li {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

#service .service-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto 70px auto;
}

#service .service-contents .service-item {
  background: linear-gradient(45deg, rgba(113, 191, 255, 0.5), white);
  border-radius: 50%;
  width: 230px;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
  opacity: 0;
}

#service .service-contents .service-item .service-text {
  width: 200px;
  opacity: 0;
  -webkit-transform: translate(3px, -30px);
          transform: translate(3px, -30px);
}

#service .service-contents .service-item .service-text h3 {
  font-size: 22px;
}

#service .service-contents .service-item .service-text p {
  margin: 0 auto;
  width: 170px;
  font-size: 12px;
  font-weight: bold;
}

#service .service-contents .service-item .lp-text.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: 1s 0.5s ease-out;
  transition: 1s 0.5s ease-out;
}

#service .service-contents .service-item .cd-text.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: 1s 0.5s ease-out;
  transition: 1s 0.5s ease-out;
}

#service .service-contents .service-item .re-text.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: 1s 0.8s ease-out;
  transition: 1s 0.8s ease-out;
}

#service .service-contents .lp.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
}

#service .service-contents .cd.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: 0.8s 0.3s ease-out;
  transition: 0.8s 0.3s ease-out;
}

#service .service-contents .re.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: 0.8s 0.6s ease-out;
  transition: 0.8s 0.6s ease-out;
}

#service a {
  color: black;
  float: right;
  margin: 0 30px 0 0;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media screen and (max-width: 900px) {
  #service .service-contents {
    margin-top: 50px;
    width: 560px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #service .service-contents .service-item .service-text p {
    font-size: 18px;
  }
  #service a {
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  #service .service-contents {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  #service .service-contents .service-item {
    margin: 0 auto 50px auto;
  }
  #service .service-contents .cd.show {
    -webkit-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
  }
  #service .service-contents .re.show {
    -webkit-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
  }
  #service a {
    font-size: 20px;
  }
}

#works h2 {
  margin-bottom: 60px;
}

#works .works-contents .works-item {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 740px;
  padding: 0 30px 30px 30px;
}

#works .works-contents .works-item:not(:last-child) {
  margin-bottom: 50px;
  border-bottom: 1px solid black;
}

#works .works-contents .works-item .works-img {
  width: 300px;
  height: 200px;
  border: 1px solid gray;
  border-radius: 4px;
  -webkit-transform: translateX(183px);
          transform: translateX(183px);
}

#works .works-contents .works-item .works-img.show {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#works .works-contents .works-item .works-text {
  width: 270px;
  text-align: left;
  visibility: hidden;
  opacity: 0;
}

#works .works-contents .works-item .works-text.show {
  padding-left: 50px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  visibility: visible;
  opacity: 1;
}

#works .works-contents .works-item .works-text span {
  display: none;
}

#works .works-contents .works-item .works-text h3 {
  font-size: 20px;
  margin-top: 0;
}

#works .works-contents .works-item .works-text h4 {
  margin-bottom: -10px;
}

@media screen and (max-width: 900px) {
  #works .works-contents .works-item {
    width: 560px;
    padding: 0 0 30px 0;
  }
  #works .works-contents .works-item .works-img {
    width: calc(300px / 3 * 2);
    height: calc(200px / 3 * 2);
    -webkit-transform: translateX(140px);
            transform: translateX(140px);
  }
  #works .works-contents .works-item .works-img.show {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  #works .works-contents .works-item .works-text {
    -webkit-transform: translateX(-140px);
            transform: translateX(-140px);
    visibility: visible;
    width: calc(300px / 3 * 2);
    height: calc(200px / 3 * 2);
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 4px;
    opacity: 1;
    z-index: 9;
    color: white;
  }
  #works .works-contents .works-item .works-text.show-tab {
    opacity: 0;
    background-color: transparent;
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
    -webkit-animation: worksAnime 0s 0.4s ease-out forwards;
            animation: worksAnime 0s 0.4s ease-out forwards;
  }
  #works .works-contents .works-item .works-text.show {
    width: 270px;
    height: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    color: black;
    background-color: transparent;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #works .works-contents .works-item .works-text.show h3 {
    text-align: left;
    margin-top: -20px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #works .works-contents .works-item .works-text.show span {
    display: none;
  }
  #works .works-contents .works-item .works-text.show h4 {
    display: block;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #works .works-contents .works-item .works-text.show li {
    display: block;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #works .works-contents .works-item .works-text.show p {
    display: block;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #works .works-contents .works-item .works-text h3 {
    text-align: center;
    margin-top: 40px;
  }
  #works .works-contents .works-item .works-text span {
    display: block;
    text-align: center;
  }
  #works .works-contents .works-item .works-text h4 {
    display: none;
    font-size: 18px;
  }
  #works .works-contents .works-item .works-text li {
    display: none;
    font-size: 18px;
  }
  #works .works-contents .works-item .works-text p {
    display: none;
    font-size: 18px;
  }
}

@media screen and (max-width: 560px) {
  #works .works-contents .works-item {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  #works .works-contents .works-item .works-img {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin: 0 auto;
  }
  #works .works-contents .works-item .works-img.show {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  #works .works-contents .works-item .works-text {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform: translateY(calc(200px / 3 * -2));
            transform: translateY(calc(200px / 3 * -2));
    margin: 0 auto;
  }
  #works .works-contents .works-item .works-text.show {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    padding: 0;
    margin-bottom: 40px;
    text-align: center;
  }
  #works .works-contents .works-item .works-text.show h3 {
    margin-top: auto;
    text-align: center;
  }
}

#skills .skills-contents {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: -30px;
}

#skills .skills-contents .skills-item {
  margin-top: 30px;
  width: 200px;
  height: 140px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 60px;
}

#skills .skills-contents .skills-item .lang {
  font-weight: 1000;
  line-height: 80px;
  font-size: 30px;
}

#skills .skills-contents .skills-item #html,
#skills .skills-contents .skills-item #css,
#skills .skills-contents .skills-item #php {
  letter-spacing: 15px;
}

#skills .skills-contents .skills-item #js {
  line-height: 40px;
}

@media screen and (max-width: 900px) {
  #skills .skills-contents {
    width: 100vw;
    max-width: 700px;
  }
}

@media screen and (max-width: 560px) {
  #skills .skills-contents .skills-item {
    margin-bottom: 30px;
  }
}

#contact .wrapper {
  margin-bottom: 0px;
  padding: 70px 0 0 0;
}

#contact .wrapper form {
  margin: 0 auto;
  border: 2px solid black;
  width: 500px;
  padding: 50px;
  border-radius: 8px;
  background-color: #ececec;
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
}

#contact .wrapper form #form-contents {
  margin: 0 auto;
  width: 400px;
}

#contact .wrapper form #form-contents p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

#contact .wrapper form #form-contents #queryName,
#contact .wrapper form #form-contents #queryEmail {
  width: 400px;
  line-height: 25px;
  border-radius: 4px;
}

#contact .wrapper form #form-contents #queryMessage {
  width: 400px;
  border-radius: 4px;
  border: 2px solid black;
}

#contact .wrapper form #form-contents .blank-message {
  visibility: hidden;
}

#contact .wrapper form #form-contents .showBlankMessage {
  visibility: visible;
  font-size: 16px;
  color: red;
  margin-bottom: 25px;
}

#contact .wrapper form #form-contents #submit {
  width: 400px;
  border-radius: 4px;
  background-color: white;
  font-weight: bold;
  padding: 10px 0;
}

@media screen and (max-width: 900px) {
  #contact .wrapper form #form-contents #queryName,
  #contact .wrapper form #form-contents #queryEmail {
    height: 30px;
    font-size: 20px;
  }
  #contact .wrapper form #form-contents #queryMessage {
    font-size: 20px;
  }
}

@media screen and (max-width: 560px) {
  #contact .wrapper form {
    width: 100%;
    padding: 50px 0;
    margin: 0;
  }
  #contact .wrapper form #form-contents {
    width: 85%;
    margin: 0 auto;
  }
  #contact .wrapper form #form-contents p,
  #contact .wrapper form #form-contents #queryName,
  #contact .wrapper form #form-contents #queryEmail,
  #contact .wrapper form #form-contents #queryMessage,
  #contact .wrapper form #form-contents #submit {
    width: 100%;
  }
}

footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #bebdbd;
  border-radius: 4px;
  margin-bottom: 0px;
  opacity: 0;
}

footer.show {
  -webkit-animation: slideUp 1s ease-out forwards;
          animation: slideUp 1s ease-out forwards;
}

footer #footer-container {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 30px;
}

footer #footer-container h2 {
  font-size: 40px;
  padding-left: 15px;
}

footer #footer-container #thanks {
  font-size: 20px;
  font-weight: bold;
  margin: 60px 0 40px 0;
  text-align: center;
}

footer #footer-container #footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer #footer-container #footer-bottom #footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #footer-container #footer-bottom #footer-left #follow-me {
  font-weight: bold;
  margin: 0 16px;
  width: 176px;
}

footer #footer-container #footer-bottom #footer-left .fa-twitter-square {
  color: #71c8eb;
  text-align: center;
}

footer #footer-container #footer-bottom #footer-right {
  margin-right: 30imi px;
  line-height: 12px;
  text-align: end;
}

@media screen and (max-width: 900px) {
  footer {
    opacity: 1;
  }
  footer #footer-container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer #footer-container h2 {
    text-align: center;
  }
  footer #footer-container #footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer #footer-container #footer-bottom #footer-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  footer #footer-container #footer-bottom #footer-left #follow-me {
    width: auto;
    font-size: 18px;
  }
  footer #footer-container #footer-bottom #footer-left .fa-twitter-square {
    color: #0ba8e6;
  }
}

@media screen and (max-width: 560px) {
  footer #footer-container {
    width: 80%;
  }
  footer #footer-container #thanks {
    font-size: 16px;
  }
  footer #footer-container #footer-bottom #footer-left #follow-me {
    margin: 0;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */